body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'WorkSans-Regular' 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiPaper-elevation1{
  box-shadow: none !important;
}

/* .MuiAccordionSummary-root{
  border-bottom: 2px solid #0099DB  !important;
} */
p {
  margin-top: 0px;
}